
body{
    background-image: linear-gradient( rgb(255, 255, 255), rgb(255, 0, 238));
    font-family: sans-serif;
}

header{
    justify-content:center;
    display: flex;
    align-content: space-between;
    background-color: white;
    height: 100px;
    font-size: medium;
}   
section{
    justify-content: center;
    justify-items: center;
    align-content:center;
}
    
img{
    display: block;
    padding: 10px 20px;
    text-align: center;
    justify-content: center;
}
h1{
    color:black;
    text-align: center;

}
p{
    color:black;
    text-align: center;
}

ul{
    display:inline-flex;
    color:white;
    height:50px;
    margin:0;
    padding: 0;
    list-style-type: none;
  }
nav{
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    padding: 1rem 0;
    min-width: 80vw;
    max-width: 960px;
  }
  button{
    color:white;
  background-color: black;
  padding:20px;
  text-align: center;
  }
footer{
    background-color: white;
    display:inline-flex;
    height:50px;
    justify-content:stretch;
    margin:1rem 0;
    padding: 1rem 0;
    min-width: 80vw;
    max-width: 960px;
}

