
body{
    background-image: linear-gradient( navy, aqua);
    font-family: sans-serif;

}

header{
background-color: white;
    align-items: flex-start;
    color:black;
    height: 100px;
    justify-content:flex-start;
    font-size: medium;
}   

    
img{
    display: block;
    padding: 10px 20px;
    text-align: center;
}
h1{
    color:black;
    text-align: center;

}
p{
    color:black;
    text-align: center;
}

ul{
    display:inline-flex;
    color:white;
    background-color:black;
    height:50px;
    margin:0;
    padding: 0;
    list-style-type: none;
  }
.wrapper {
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 1rem 0;
    padding: 1rem 0;
    min-width: 80vw;
    max-width: 960px;
  }
  button{
    color:white;
  background-color: black;
  padding:20px;
  text-align: center;
  }
footer{
    background-color: white;
    display:inline-flex;
    height:50px;
    justify-content:stretch;
    margin:1rem 0;
    padding: 1rem 0;
    min-width: 80vw;
    max-width: 960px;
}

